@import url(./reset.css);

body {
  display: grid;
  height: 100vh;


  grid-template: 
  "header header header header" 56px 
  "sidebar main main main" 
  "sidebar main main main" 
  / 0.9fr 2fr 2fr 2fr;
}

header {
  background: #FFFFFF;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  gap: 32px;

  grid-area: header;
}

main {
  background: #F9F9F9;
  grid-area: main;

  display: grid;
  row-gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  padding: 20px;
  justify-content: space-between;
}

aside {
  background: #FFFFFF;
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 22px;
}

.left {
  display: flex;
  justify-content: flex-start;
  width: 146px;
  height: 24px;
}

.lateral-menu img{
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.logo img {
  width: 90px;
  height: 20px;
}

.center {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #CCCCCC;
  width: 404px;
  height: 40px;
  border-radius: 30px;
}

.rectangle {
  box-sizing: border-box;
  
  width: 57px;
  height: 40px;

  border-left: 1px solid #CCCCCC;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: url(/assets/images/search.png) center no-repeat #F8F8F8;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 130px;
  height: 34px;
}

.upload img{
  width: 24px;
  height: 24px;
}

.bell img{
  width: 24px;
  height: 24px;
}

.profile img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.video img {
  width: 300px;
  border-radius: 10px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10px;
  gap: 10px;
  
  width: 249px;
  height: 74px;
}

.infos img {
  width: 42px;
  height: 42px;
}

.title-description {
  padding-left: 10px;
}

.title-description h3 {
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 10px;
}

.title-description p {
  color: #515151;
  font-size: 14px;
  margin-bottom: 20px;
}

.description p {
  padding-top: 15px;
}

.home {
  font-weight: 700;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;
}

.item img {
  width: 24px;
  height: 24px;
}
